.card_body {
  width: 270px;
  height: 360px;
  background: #ffffff;
  border: 1px solid #dddbdb;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: ease-in-out 200ms;
  animation: shake 1.2s ease-out infinite;
}

@keyframes shake {
  0% {
    border: 1px solid #dddbdb;
  }
  50% {
    border: 1px solid #ff0404;
  }
  100% {
    border: 1px solid #dddbdb;
  }
}
.card_body:hover {
  transform: translate3d(0px, -3px, 0px);
  box-shadow: 0 5px 30px 10px rgba(8, 72, 146, 0.24);
}
.tag {
  position: absolute;
  top: -11px;
  left: 15px;
  width: 50px;
  z-index: 20;
}
.card_img {
  height: 150px;
  width: 100%;
  position: relative;
  border-radius: 20px;
}
.img {
  width: 100%;
  object-fit: fill;
  border-radius: 20px;
}
.content_container {
  height: 210px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.developer_logo {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
}
.content_section {
  height: 90%;
  width: 93%;
}
.property_title {
  font-size: 13px;
  font-family: "p-m";
  margin-bottom: 7px;
}
.price {
  color: var(--blue);
  font-size: 20px;
  font-family: "p-b";
}
.address {
  font-family: "p-l";
  font-size: 11px;
  margin-bottom: 7px;
}
.description_text {
  font-family: "p-r";
  font-size: 10px;
  margin-bottom: 5px;
}
.details_row {
  width: 85%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 7px;
}
.details_row p {
  font-size: 14px;
  font-family: "p-m";
}
.status_text {
  font-size: 9px;
  color: rgb(137, 137, 137);
  font-family: "p-l";
  margin-bottom: 10px;
}
.non_primary_btns {
  width: 85%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
.btns_container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
