.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  overflow-y: scroll;
}
.content_container {
  width: 93%;
  height: 100%;
  margin-top: 40px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.top_analytics_container {
  width: 100%;
  height: 220px;
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  column-gap: 15px;
}
.total_listings_container {
  border-radius: 15px;
  border: 1px solid #dddbdb;
  background: #f5f7fb;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1.4fr 1fr;
}
.total_listings_left {
  width: 100%;
  height: 100%;
}
.total_listings_left p {
  font-family: "p-sb";
  color: var(--blue);
  margin: 20px;
  font-size: 24px;
}
.overlay {
  width: 100%;
  height: 70%;
  position: absolute;
  top: 0;
  opacity: 0.2;
  background-image: linear-gradient(#025bff, white);
  z-index: 1;
}
.analytic_tab_container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
.analytic_tab {
  border-radius: 15px;
  border: 1px solid #dddbdb;
  background: #f5f7fb;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-out 200ms;
}
.analytic_tab:hover {
  transform: translateY(-3px);
  opacity: 0.9;
  cursor: pointer;
}
.tab_content {
  width: 83%;
  height: 80%;
  position: relative;
}

.tab_content_left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}
.tab_content_left h3 {
  font-family: "p-sb";
  color: white;
  font-size: 28px;
}
.tab_content_left p {
  font-size: 12px;
  font-family: "p-r";
  color: white;
  line-height: 20px;
}
.tab_content_right {
  width: fit-content;
  height: fit-content;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.second_row_container,
.third_row_container,
.fourth_row_container {
  width: 100%;
  height: fit-content;
  display: grid;
  place-items: center;
  column-gap: 20px;
  grid-template-columns: 2fr 1fr;
}
.third_row_container {
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: fit-content;
  display: grid;
  place-items: center;
  column-gap: 20px;
}
.fourth_row_container {
  grid-template-columns: 1.5fr 1fr;
  width: 100%;
  height: fit-content;
  display: grid;
  place-items: center;
  column-gap: 20px;
}
.section_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.section_container p {
  font-family: "p-sb";
  font-size: 20px;
}
.divider {
  width: 100%;
  min-height: 1px;
  background-color: #969ba5;
  opacity: 0.3;
}
.line_chart_content_container {
  border-radius: 15px;
  border: 1px solid #dddbdb;
  background: #f5f7fb;
  padding: 30px;
}
.hot_ad_container {
  width: 450px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  height: 100%;
}
.hot_ad_container h3 {
  font-family: "p-sb";
  font-size: 20px;
}
.hot_property_container {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}
.quota_and_credits_container,
.inbox_container {
  width: 100%;
  height: 300px;
  border-radius: 15px;
  border: 1px solid #dddbdb;
  background: #f5f7fb;
  box-shadow: -10px 10px 50px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.quota_and_credits_container {
  width: 100%;
}
.inbox_container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 320px;
}
.inbox_content_container {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.quota_and_credits_content_container {
  width: 88%;
  height: 90%;
  display: flex;
  flex-direction: column;
  row-gap: 0px;
}
.quota_and_credits_tab_container {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.quota_and_credits_tab_container .active {
  font-size: 12px;
  font-family: "p-sb";
  padding-bottom: 14px;
  border-bottom: 2px solid #025bff;
  z-index: 1;
}
.quota_and_credits_tab_container .disabled {
  font-size: 12px;
  font-family: "p-m";
  padding-bottom: 14px;
  border-bottom: 2px solid transparent;
  z-index: 1;
  color: #969ba5;
}
.tab_underline {
  width: 100%;
  min-height: 1px;
  background-color: #dddbdb;
  margin-top: -10px;
}
.headings_content {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.buy_now_container,
.upgrade_container {
  width: 100%;
  height: 300px;
  border-radius: 15px;
  border: 1px solid #dddbdb;
  background: var(--blue);
  box-shadow: -10px 10px 50px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.buy_now_container img {
  position: absolute;
  bottom: 10px;
  right: 0;
  width: 45%;
  max-width: 270px;
  min-width: 200px;
}

.upgrade_container img {
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 50%;
  max-width: 450px;
}
.upgrade_container {
  height: 320px;
}
.buy_now_content_container {
  width: 50%;
  height: 85%;
  margin-left: 20px;
  row-gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  z-index: 1;
}
.buy_now_content_container h2 {
  color: white;
  font-size: 24px;
  line-height: 32px;
  font-family: "p-r";
}
.buy_now_content_container h3 {
  color: white;
  font-size: 14px;
  line-height: 22px;
  font-family: "p-m";
  opacity: 0.3;
  width: 85%;
}
.buy_now_single_row {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  align-items: center;
}
.buy_now_single_row p {
  color: white;
  font-size: 14px;
  font-family: "p-r";
  line-height: 22px;
}
.black_btn {
  border-radius: 10px;
  background: #151515;
  height: 40px;
  width: 70%;
  display: grid;
  place-items: center;
  margin-top: 10px;
  transition: ease-out 200ms;
}
.black_btn h4 {
  color: white;
  font-size: 14px;
  font-family: "p-r";
}
.black_btn:hover {
  background: #353535;
  cursor: pointer;
}
.white_btn {
  border-radius: 10px;
  background: #ffffff;
  height: 40px;
  width: 70%;
  display: grid;
  place-items: center;
  margin-top: 10px;
  transition: ease-out 200ms;
}
.white_btn h4 {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-family: "p-r";
}
.white_btn:hover {
  background: #d7d7d7;
  cursor: pointer;
}
.property_row_container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.property_banner {
  border-radius: 15px;
  border: 1px solid #dddbdb;
  background: rgba(21, 21, 21, 0.1);
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
  padding-right: 15px;
}
.properties_contaienr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 15px;
  gap: 15px;
}
.property_banner_left {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
}
.property_banner_left p {
  font-size: 20px;
  font-family: "p-sb";
}

.inbox_content {
  width: 94%;
  height: 80%;
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  position: relative;
}
.single_inbox_profile_picture {
  height: 95%;
  aspect-ratio: 1/1;
  border: 2px solid #41ce2a;
  border-radius: 15px;
}
.three_dot {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
}
.three_dot:hover {
  background-color: grey;
  height: 40px;
  width: 40px;
  border-radius: 100px;
}
.single_inbox_selected,
.single_inbox {
  width: 95%;
  min-height: 90px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f8f8;
}
.single_inbox_selected {
  background: #eef4ff;
}
.single_inbox_profile_name_section {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}
.single_inbox_name {
  font-size: 16px !important;
  font-family: "p-sb";
  color: var(--blue);
}
.single_inbox_name_title {
  font-size: 12px !important;
  font-family: "p-m" !important;
  opacity: 0.4;
}
.single_inbox_message {
  font-size: 12px !important;
  font-family: "p-m" !important;
}
