.navbar_body,
.navbar_body_opaque {
  height: 70px;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 200;
  transition: background-color 200ms linear;
  background-color: var(--blue) !important;
  position: fixed;
}
.navbar_body_opaque {
  background-color: white !important;
}
.profile_menu {
  opacity: 1;
  height: 110px;
  width: 220px;
  position: absolute;
  right: -220px;
  top: -0px;
  background-color: transparent;
  transition: ease-in-out 140ms;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}
.logo_orange {
  color: var(--orangeText) !important;
}
.single_btn {
  height: 50%;
  width: 100%;
  transition: ease-in-out 200ms;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.single_btn p {
  color: white;
}
.single_btn:hover {
  background-color: rgba(41, 119, 126, 0.759);
  transition: ease-in-out 200ms;
}

.right_panel,
.left_panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.right_panel {
  width: 48%;
  justify-content: flex-end;
  column-gap: 14px;
  margin-right: 20px;
}
.navbar_body .property_id_search {
  height: 28px;
  border-radius: 5px;
  border: 1.5px solid white;
  width: 120px;
  background-color: transparent;
  color: white !important;
}
.navbar_body .property_id_search::placeholder {
  color: white;
}
.navbar_body_opaque .property_id_search {
  height: 28px;
  border-radius: 5px;
  border: 1.5px solid var(--blue);
  width: 120px;
  background-color: transparent;
  color: white !important;
}
.navbar_body_opaque .property_id_search::placeholder {
  color: var(--blue);
}
.input_with_icon {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.input_with_icon img {
  position: absolute;
  right: 10px;
}
.login_btn,
.add_property_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 89px;
  height: 38px;
  background: var(--blue);
  border-radius: 5px;
  transition: ease-out 200ms;
  position: relative;
}
.free_tag {
  background-color: black;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 14px;
  background: #151515;
  border-radius: 2px;
}
.icon {
  width: 22px;
  min-width: 22px;
  margin-left: 0 !important;
}
.icon:hover {
  animation: shake 0.42s ease-out infinite;
}

@keyframes shake {
  25% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.free_tag p {
  color: white;
  font-size: 10px !important;
  font-family: "p-l";
}
.add_property_btn p {
  /* font-size: 13px !important; */
  color: white !important;
}
.icons_container {
  width: fit-content;
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  align-items: center;
  height: 100%;
}
.login_btn p {
  font-size: 13px !important;
  color: var(--blue) !important;
}

.navbar_body_opaque .login_btn p {
  color: white !important;
}
.add_property_btn:hover {
  background-color: #ff4a4a;
  transition: ease-out 200ms;
  cursor: pointer;
}
.login_btn:hover {
  background-color: #1d74ff;
  cursor: pointer;
}
.add_property_btn {
  background-color: #ff0000;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
}
.navbar_body p {
  cursor: pointer;
  color: white;
  transition: ease-out 200ms;
}
.navbar_body_opaque p {
  transition: ease-in-out 200ms;
  cursor: pointer;
}
.navbar_body_opaque p:hover {
  transform: translateY(-2px);
  transition: ease-out 200ms;
}
.left_panel {
  width: 48%;
  justify-content: left;
  padding-left: 0px;
}
.logo {
  color: #266867;
  font-family: "DMSans-Bold";
  font-size: 38px;
}
.navbar_body .left_panel_btns p {
  color: white;
  font-size: 15px;
}

.navbar_body_opaque .left_panel_btns p {
  color: black;
  font-size: 15px;
}

.navbar_body .right_panel p {
  color: white;
  font-size: 15px;
}

.navbar_body_opaque .right_panel p {
  color: #000000;
  font-size: 15px;
}

.left_panel_btns {
  height: 100%;
  width: fit-content;
  margin-left: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}
.get_started_btn {
  background-color: #ff9000;
  width: 160.61px;
  height: 47.2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 500px;
  transition: ease-in-out 200ms;
}
.get_started_btn:hover {
  background-color: #ffad41;
  cursor: pointer;
}
.get_started_btn p {
  color: white !important;
  font-size: 15px;
}

.icon {
  width: 20px;
  margin-left: 15px;
}
.panel_container {
  height: 100%;
  width: 100%;
  background-color: var(--background);
  display: flex;
  /* backdrop-filter: blur(10px); */
  align-items: center;
  /* justify-content: center; */
  row-gap: 15px;
  padding-top: 40px;
  flex-direction: column;
  /* border-left: 2px solid rgb(221, 255, 255); */
  box-shadow: 0px 0px 20px rgb(179, 179, 179);
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}
.panel_container::-webkit-scrollbar {
  /* WebKit for hiding scrollbar */
  width: 0;
  height: 0;
}
.divider {
  width: 90%;
  height: 1px;
  background-color: var(--orangeText);
}
.nav_menu_content {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  padding-left: 35px;
  display: flex;
  row-gap: 25px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: ease-in-out 100ms !important;
}
.nav_menu_content p {
  font-size: 13px;
}

@media screen and (max-width: 941px) {
  .right_panel {
    display: none;
  }

  .left_panel {
    padding-left: 0px;
    justify-content: center;
  }
  .menu_icon {
    display: flex;
    position: absolute;
    top: 25px;
    left: 25px;
    max-width: 35px;
  }
  .navbar_body,
  .navbar_body_opaque {
    height: 80px;
  }
}
