.card_body {
  width: 100%;
  max-width: 327px;
  min-width: 267px;

  height: 360px;
  background: #ffffff;
  border: 1px solid #dddbdb;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.card_img {
  height: 180px;
  width: 100%;
  position: relative;
  border-radius: 20px;
}
.img {
  width: 100%;
  object-fit: fill;
  border-radius: 20px;
}
.content_container {
  height: 210px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.developer_logo {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
}
.content_section {
  height: 80%;
  width: 85%;
}
.property_title {
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  opacity: 0.5;
  font-family: "p-l";
  margin-bottom: 7px;
}
.price {
  font-family: "p-sb";
  font-size: 22px;
  line-height: 22px;
  color: #151515;
  margin-bottom: 20px;
}
.address {
  font-family: "p-l";
  font-size: 11px;
  margin-bottom: 7px;
}
.description_text {
  font-family: "p-r";
  font-size: 10px;
  margin-bottom: 5px;
}
.details_row {
  width: 85%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.details_row p {
  font-size: 14px;
  font-family: "p-m";
}
.status_text {
  font-size: 9px;
  color: rgb(137, 137, 137);
  font-family: "p-l";
  margin-bottom: 10px;
}
.btns_container {
  width: 85%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
.single_detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
}
.single_detail p {
  font-size: 16px;
  color: #000000;
}
.single_detail img {
  width: 20px;
}
