* {
  margin: 0;
  font-family: "p-r";
}

:root {
  --blue: #0060fd;
  --footer-color: #1f1f1f;
}

a {
  text-decoration: none !important;
}

a:-webkit-any-link {
  color: black !important;
}

input:focus {
  outline: none;
}
.select_input_container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
}
.select_input_container_2_icons {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
}
.input_icon_1 {
  position: absolute;
  right: 10px;
  width: 20px;
}

.input_icon_2 {
  position: absolute;
  right: 38px;
  width: 17px;
}
.select_input_container img {
  position: absolute;
  right: 10px;
  width: 17px;
  pointer-events: none !important;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='https://dev.w3.org/SVG/tools/svgweb/samples/svg-files/410.svg' width='100' height='100' fill='%238C98F2'><polygon points='0,0 100,0 50,50'/></svg>")
    no-repeat;
  background-size: 12px;
  padding-left: 10px;
  background-position: calc(100% - 10px) center;
  background-repeat: no-repeat;
  color: var(--foreground) !important;
}
select:focus {
  outline: none !important;
}

input {
  padding-left: 15px;
}

p,
h1,
h2,
h3,
h4,
a {
  font-family: "p-r";
  margin-bottom: 0;
}
h1 {
  margin-bottom: 0 !important;
}

.btn {
  width: fit-content;
  height: 43px;
  background: #025bff;
  border-radius: 5px;
  padding-left: 14px;
  padding-right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 200s;
  column-gap: 10px;
  border: 1px solid var(--blue);
}
.btn img {
  max-width: 30px;
}
.btn:hover {
  background-color: #528fff;
  cursor: pointer;
}
.btn p {
  font-size: 14px;
  line-height: 15px;
  color: white;
}

.btn_rounded {
  width: fit-content;
  height: 100%;
  background-color: #025bff;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 200s;
  border: 1px solid var(--blue);
  border-radius: 200px;
}
.btn_rounded:hover {
  background-color: #528fff;
  cursor: pointer;
}
.btn_rounded p {
  font-size: 14px;
  line-height: 15px;
  color: white;
}

.btn_rounded_white {
  width: fit-content;
  height: 100%;
  background-color: white;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 200s;
  border: 1px solid white;
  border-radius: 200px;
}
.btn_rounded_white:hover {
  background-color: var(--blue);
  cursor: pointer;
}
.btn_rounded_white p {
  font-size: 14px;
  line-height: 15px;
  color: var(--blue);
}

.btn_secondary,
.whatsapp_btn {
  width: fit-content;
  height: 43px;
  background-color: white;
  border-radius: 5px;
  padding-left: 14px;
  padding-right: 14px;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 200s;
  border: 1px solid var(--blue) !important;
}
.whatsapp_btn {
  background-color: #25d366;
  border: 1px solid white !important;
}
.btn_secondary img,
.whatsapp_btn img {
  width: 15px;
}
.btn_secondary:hover,
.whatsapp_btn:hover {
  background: rgb(240, 240, 240);
  cursor: pointer;
}
.btn_secondary p,
.whatsapp_btn p {
  font-size: 14px;
  line-height: 15px;
  color: var(--blue);
}
.whatsapp_btn p {
  color: white !important;
}

.landing_page_heading {
  font-size: 22px;
  line-height: 36px;
  color: #151515;
  font-family: "p-m";
}
.heading_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.heading_container_filled {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: white;
  border-radius: 15px;
  /* padding-right: 20px;
  padding-left: 20px; */
}
.landing_page_colored_container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.colored_container {
  width: 97%;
  height: 100%;
  border-radius: 50px 50px 0px 0px;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.colored_container_with_shimmer {
  width: 97%;
  height: 100%;
  border-radius: 50px 50px 0px 0px;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.listed_properties_container {
  width: 100%;
  height: 90vh;
  max-height: 700px;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.listed_properties_upper_banner {
  height: 65%;
  width: 100%;
  position: relative;
}
.listed_property_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: 10;
}
.properties_and_filter_container {
  width: 80%;
  height: fit-content;
  position: absolute;
  top: 28%;
  z-index: 11;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: 1300px;
}
.cities_container {
  height: 70px;
  width: 100%;
  background: #fafafa;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.listed_properties_heading {
  font-size: 21px;
  line-height: 36px;
  font-weight: "p-b";
  margin-left: 30px;
}
.cities_btns_container {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
  height: 100%;
}
.cities_btns_container .city_btn:first-child {
  border-left: 1px solid rgb(238, 238, 238);
}
.city_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
  border-right: 1px solid rgb(238, 238, 238);
}
.city_btn_selected {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
  border-right: 1px solid rgb(238, 238, 238);
}
.cards_content_container {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  width: 85%;
  height: 75%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.city_btn p {
  font-size: 16px;
  color: black;
  font-family: "p-r";
}
.properties_container {
  flex-direction: row;
  align-items: center;
  column-gap: 15px;
}
.slick-list {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

@font-face {
  font-family: "p-l";
  src: url("../public/fonts/poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: "p-t";
  src: url("../public/fonts/poppins/Poppins-Thin.ttf");
}

@font-face {
  font-family: "p-m";
  src: url("../public/fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "p-r";
  src: url("../public/fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "p-sb";
  src: url("../public/fonts/poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "p-b";
  src: url("../public/fonts/poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: "p-eb";
  src: url("../public/fonts/poppins/Poppins-ExtraBold.ttf");
}
